nav {
    margin: 0;
    padding: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;

    display: flex;
    justify-content: space-around;
}

nav ul li {
    background-color: orange;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav ul li:hover {
    background-color: rgba(255, 166, 0, 0.473);
    color: rgba(0, 0, 0, 0.541);
}